body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

h2{
    padding: 1.5em;
    font-weight: bold;
}
#menu {
    color: red;
    font-size: 1.5em;

}

.annoucements-container h2{
    font-size: 2em;
}
.annoucements p{
    line-height: 2em;
}
.annoucement{
    padding: 1.5em;
}
.annoucement h3{
    font-size: 1.3em;
    color: crimson;
    padding: 0.5em;
}
#app {
    background-color: skyblue;
}

#menu li a:visited {
    color: aqua;

}

header {
    background-color: cadetblue;
}


footer {
    background-color: darksalmon;
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 1rem;*/
    /*background-color: #efefef;*/
    /*text-align: center;*/
}

.list ul li a{
    text-decoration: none;
}

.list ul li a:hover{
    text-decoration: none;
    color: white;
    transition: 0.5s
}

.comments p{
    padding: 0.5em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.list ul li {
    padding: 0.2em;
}

.list ul li:hover {
    padding: 0.2em;
    background-color: crimson;

}

.list{
    padding: 1em;
}

.image-class{
    display: block;
}


.infinite-list-item1{
     background-color: goldenrod;
     padding: 1em;
 }
.infinite-list-item2{
    background-color: lightblue;
    padding: 1em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    /*width: 100%;*/
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-decoration: none;
}

.accordion2{
    background-color: hotpink;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    /*padding: 0 18px;*/
    background-color: white;
    display: none;
}

